* {padding:0; line-height:22px; font-family:Arial, Helvetica, sans-serif; color:#666;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

body{font-size:75%; background:#e4e4e4 url('../images/main_bg.png'); color: #5a5a5a;}
html>body{font-size:12px;}

img {border:none;}
a{color:#3399ff;}
ul{list-style:none}

h1, h2, h3, h4, h5, h6{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#3F3F3F; font-weight: normal; letter-spacing: 0.4px; line-height: 100%; padding-bottom: 10px;}
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:20px;}
h4{font-size:18px;}
h5{font-size:16px;}
h6{font-weight:bold}

.error{ font-size:14px; color:Black; text-align:left;}

.divider{background:url('../images/divider.png') repeat-x bottom;padding-bottom:12px;}
.clear{clear:both;}
.box {
	background-color: #FFFFFF;
	width:700px;
	height:auto;
	margin: 0 auto 5px auto;
	padding: 8px;
	border: 1px solid #999999;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 8px;
	behavior: url(border-radius.htc);}
	
	.button {
		padding: 0px 5px 0px 5px;
		display: inline;
		background: #777 url(../button.png) repeat-x bottom;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-decoration:none;
		}
	.button:hover {
		background-position: 0 center;
		background: #666;
		}
		
	.button.small { font-size: 75%; padding: 3px 3px; }
	
	
#container{width:1000px; margin:auto;position:relative;}
#header{padding:0px 14px; background:#2778b2; height: 90px;margin: 0px 0 20px 0px;}
#header-wrap{width:1000px;margin:0px auto}
#header-left{width:420px;float:left; margin:22px 0 0 0px}
#header-left a{outline:none}
#header-right{float:right;margin:5px 10px 0 0}
#header-right p, #header-right a{line-height:24px;color:#ccc;font-weight:bold;font-size:12px;}
#header-right a{text-decoration:none; border-bottom:dotted 1px #ccc}
#content-wrapper{float:right;width:760px; margin:0px auto;min-height:540px;}


#content-top, #content, #content-bottom{width:700px; padding:0px 30px}
#content-top{height:34px; background: url("../images/content_top.png") no-repeat}
#content{background: url("../images/content_center.png") repeat-y; padding-bottom:20px}
#content-bottom{height:26px; background: url("../images/content_bottom.png") no-repeat;}
#footer-wrapper{padding:10px 14px; background: url("../images/header.png"); height: 20px;margin: 20px 0 0px 0px; }
#footer{width:960px;margin:auto;color:#ddd;text-align:right;}
#footer a{color:#ddd; text-decoration:none; border-bottom:dotted 1px #ccc}

p.text-content{margin:20px 0px; width:700px;}
#top-block{width:920px; margin:20px auto;}
.info-table{padding:2px; margin-bottom:10px; font-size:14px;}
.info-table td{padding-left:10px}
.info-table td.title{font-weight:bold; padding-left:0px;  text-align:right;}
ol.toc{padding-left:20px; font-weight:bold; margin-bottom:10px}
ol.toc li {line-height:26px;}
ol{padding-left:20px}
ul.inner-list{padding:10px 0px 10px 20px;}
ul.inner-list li{list-style:none;padding-left:20px;line-height:26px;background:url(arrow.png) no-repeat left;}
ul.inner-list li a{text-decoration:none;}
.anchorLink{font-size:14px; font-weight:bold; float:right; text-decoration:none; color:#333; font-weight:bold; background:url('../images/arrow_up.png') no-repeat left; padding-left:20px}

/*********************** TREE VIEW *******************************/

.treeview{margin:10px}
.treeview ul {list-style: none;margin-top: 4px;}
.treeview .hitarea {background: url('../images/tree/treeview-default.gif') -64px -25px no-repeat;height: 16px;width: 16px;margin-left: -16px;float: left;cursor: pointer;}
* html .hitarea {display: inline;float:none;}
.treeview li { margin: 0;padding: 3px 0pt 3px 16px;}
.treeview a.selected {background-color: #eee;}
#treecontrol {margin: 1em 0; display: none; }
.treeview .hover {color: red; cursor: pointer; }
.treeview li {background: url('../images/tree/treeview-default-line.gif') 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px;}
.treeview li.last {background-position: 0 -1766px; }
.treeview li.lastCollapsable, .treeview li.lastExpandable {background-image: url('../images/tree/treeview-default.gif');}  
.treeview li.lastCollapsable {background-position: 0 -111px; }
.treeview li.lastExpandable {background-position: -32px -67px; }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

/*--- Files Tree Styles ---*/
.filetree li {padding: 3px 0 2px 16px;}
.filetree .folder, .filetree .file, .filetree .image {padding: 0px 2px 1px 16px; display: block;}
.filetree .folder {background: url('../images/tree/folder-open.png') 0 0 no-repeat; }
.filetree li.expandable .folder {background: url('../images/tree/folder.png') 0 0 no-repeat; }
.filetree .file {background: url('../images/tree/file.png') 0 0 no-repeat}
.filetree .image {background: url('../images/tree/image.png') 0 0 no-repeat; }

/*****************************************************************/

.right-panel{float:left;width:610px;margin-left:20px;}
.right-panel p{padding-left:16px;}
.right-panel p.text-content{width:500px;}
.tree-panel h3, .right-panel h3{font-size:14px;}

ul.files-list {list-style:square; margin:10px 0px}
ul.files-list li{margin-left:40px; line-height:24px}
.demo-image{margin:10px 0px;}


/***************** List-table ******************/

.list-table {border-collapse:collapse;margin:0px auto; width:100%; }
.list-table tr.active td{font-size:0.9em; background:#EDEDED;}
.list-table th {color:#222;text-shadow:#ccc 1px 1px 1px;padding:8px; text-align:left; font-weight:bold;background:#EEE;border-right:1px solid #DDD;}
.list-table th.upper-title{background:#333;color:#fff;text-shadow:#000 1px 1px 1px;text-align:center;}
.list-table td {padding:10px; color:#111;border:1px solid #ddd;border-top:none;background:#f8f8f8;}
.list-table td:first-child{font-weight:bold}
.list-table td.sub {padding-left:15px;text-align:left;}

/*********************************************/
#sidebar-wrapper{ float: left; margin-right:10px; width:230px}
#sidebar-top, #sidebar, #sidebar-bottom{width:210px; padding:0px 10px;}
#sidebar-top{height:12px; background: url("../images/sidebar_top.png") no-repeat}
#sidebar{ background: url("../images/sidebar_center.png") repeat-y}
#sidebar-bottom{height:15px;  background: url("../images/sidebar_bottom.png") no-repeat}

ul#identifier a{text-decoration:none;color:#333;outline:none}

ul#identifier li li a{display:block;line-height:38px;height:38px;padding-left:20px;background:#FFF;}
ul#identifier li li a:hover, 
ul#identifier li li a.active{background:#f8f8f8;text-decoration:underline;color:#000;}
ul#identifier li li a.active{font-weight:bold}
ul#identifier li a.header{border-bottom:dotted 1px #ccc;color: #222;display: block;font-weight: bold;padding: 1px 0 1px 10px;text-decoration:none;}
ul#identifier li a.toggle{background:#f7f7f7 url(../images/toggle.png) no-repeat right 4px;display:block;line-height:38px;height:38px;}
ul#identifier li a.toggle.active {background-position:right -28px;}
ul#identifier li a.toggle:hover{background-color:#f0f0f0}
.code, .pre {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E0E0E0;overflow: auto;padding: 10px;line-height:20px;white-space: pre-wrap;}
.code {background: url("../images/code_bg.gif") repeat scroll 0 0 #F2F3F5;padding: 20px 10px;}
.one_half, .one_third, .two_third, .one_fourth , .three_fourth, .one_fifth, .four_fifth { float:left; margin-right:4%; margin-top:10px; margin-bottom:10px}
.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_third { width:65.32%; }
.one_fourth { width:22%; }
.one_fifth { width: 16.8%; }
.four_fifth { width: 79.2%; }
.three_fourth { width:74%; }
.last {clear: right;margin-right: 0 !important;}
.nopadding{padding:0 !important;}
/*********** SPACING ***************/

.top0{margin-top:0px}
.top5{margin-top:5px}
.top10{margin-top:10px}
.top15{margin-top:15px}
.top20{margin-top:20px}
.top25{margin-top:25px}
.top30{margin-top:30px}
.top40{margin-top:40px}
.top50{margin-top:50px}

.bottom0{margin-bottom:0px}
.bottom5{margin-bottom:5px}
.bottom10{margin-bottom:10px}
.bottom15{margin-bottom:15px}
.bottom20{margin-bottom:20px}
.bottom25{margin-bottom:25px}
.bottom30{margin-bottom:30px}
.bottom40{margin-bottom:40px}
.bottom50{margin-bottom:50px}

.left0{margin-left:0px}
.left5{margin-left:5px}
.left10{margin-left:10px}
.left15{margin-left:15px}
.left20{margin-left:20px}
.left25{margin-left:25px}
.left30{margin-left:30px}
.left40{margin-left:40px}
.left50{margin-left:50px}

.right0{margin-right:0px}
.right5{margin-right:5px}
.right10{margin-right:10px}
.right15{margin-right:15px}
.right20{margin-right:20px}
.right25{margin-right:25px}
.right30{margin-right:30px}
.right40{margin-right:40px}
.right50{margin-right:50px}

/**********************************/

.red{color:red; font-weight:bold}
ul.list  {padding-left:8px;list-style:none!important;}
.list li{padding:5px 5px 5px 30px;background: url(../images/list-1.png) no-repeat 0px 12px;}
.list.list-1 li{background-image: url(../images/list-2.png);}
.list.list-2 li{background-image: url(../images/list-6.png);}
.next-section{background:url('../images/next.png') no-repeat left;padding-left:24px;float:right;}
.prev-section{background:url('../images/prev.png') no-repeat right;padding-right:24px;float:left;}
.next-section, .prev-section{margin-top:30px;font-size:14px;font-weight:bold;color:#333;}

/************** FRAMES **************/

.frame{ padding:6px; border:solid 0px #a4a4a4; text-align:center;}
.alignright,img.alignright,a img.alignright { float:right; margin:0px 0 10px 15px; text-align:right;}
.alignleft,img.alignleft,a img.alignleft { float:left; margin:0px 15px 10px 0; text-align:left;}
.aligncenter,img.aligncenter,a img.aligncenter {display: block; margin-left: auto; margin-right: auto; margin-bottom:10px}
.frame,.small_frame { display:inline-block;}
.frame img{ padding:4px; margin:0; display:block;}
.small_frame img { padding:3px; margin:0;}
.frame.shadow{-moz-box-shadow:0px 0px 2px 2px #CCC;}
.frame span.frame-title{font-style:italic;padding:0px 6px;font-size:11px;}
.image-frame, .frame img{border:solid 6px #FFF;background:#FFF;-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);box-shadow:0 1px 4px rgba(0,0,0,0.5);}
.frame img{border-width:1px}
.smalltext{font-size:10px;font-weight:bold;}

/*************************************/


/************ INFO BOXES *************/

.notification {min-height: 70px;width: 580px;display: block;position: relative;border-radius: 7px;-moz-border-radius:7px;-webkit-border-radius: 7px;	-moz-box-shadow: 2px 2px 2px #cfcfcf;-webkit-box-shadow: 2px 2px 4px #cfcfcf;box-shadow: 2px 2px 2px #cfcfcf;padding:10px 0px;}
.notification .text {overflow: hidden}
.notification p {width: 490px;	line-height: 21px;text-align: justify;float: right;margin-right: 15px;*margin-top: 15px; text-shadow: 0px 0px 1px #f9f9f9;}

.warning {border-top: 1px solid #fefbcd;border-bottom: 1px solid #e6e837;background: #feffb1;background: -moz-linear-gradient(top,#feffb1,#f0f17f);background: -webkit-gradient(linear, left top, left bottom, from(#feffb1), to(#f0f17f));}
.warning:before {content: url(../images/warning.png);float: left;margin: 15px 15px 0px 25px;}
.warning strong {color: #e5ac00;margin-right: 25px;}

.tip {border-top: 1px solid #fff19d;border-bottom: 1px solid #fff7e8;background: #fff7e8;background: -moz-linear-gradient(top,#fff7e8,#fff19d);background: -webkit-gradient(linear, left top, left bottom, from(#fff7e8), to(#fff19d));}
.tip:before {content: url(../images/tip.png);float: left;margin: 20px 15px 0px 15px;}
.tip strong {color: #b26b17;margin-right: 15px;}

.block{display:block}
.required, .optional{padding:2px 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;background:#AE0E0E;color:#FFF;text-shadow:#333 1px 1px 1px;font-size:11px;}
.optional{background:#3282E2}
#top-link{ display:none; position:fixed; right:5px; bottom:5px; font-weight:bold; outline:none;	padding:10px; text-decoration:none; background:  url(../images/header.png);color: #FFFFFF;text-align: center;text-shadow: 1px 1px 1px #000000;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.important{padding:6px; font-size:18px; text-decoration:none; }

.workflow{color:#900 !Important}
.faqs{padding-top:20px}
.faqs dt{font-weight:bold;background:url('../images/q.gif') 0 4px no-repeat;padding:3px 0 15px 30px;position:relative;}
.faqs dt:hover{cursor:pointer}
.faqs dd{background:url('../images/a.gif') 0 2px no-repeat;padding:0 0 5px 30px;position:relative;color:#333}
.faqs .hover{color:#990000;text-decoration:underline}

.faqs.style2{padding-top:0}
.faqs.style2 dt{background:#f7f7f7 url(../images/toggle.png) no-repeat right 4px;display:block;line-height:38px;height:38px; padding:0 0 0 10px; margin-top:10px}
.faqs.style2 dd{background-position:right -28px; padding-top:15px; padding-bottom:15px}
.faqs.style2 .hover{background-color:#f0f0f0; color:#333}
.video{margin:20px 0px}

ol.guide {counter-reset:li; margin-left:0; padding-left:0; margin:20px 0px}
ol.guide > li {position:relative; font-family:'PT Sans',sans-serif;/* Create a positioning context */margin:0 0 10px 20px; padding:4px 8px 4px 30px; /* Add some spacing around the content */list-style:none; /* Disable the normal item numbering */}
ol.guide > li:before {content:counter(li); /* Use the counter as content */counter-increment:li; /* Increment the counter by 1 */position:absolute;top:10px;left:-1em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:36px;height:30px;margin-right:8px;padding:4px;color:#fff;background: url('../images/header.png');font-size:16px; font-weight:bold;text-align:center;}
