﻿<%@ Page Language="C#"  MasterPageFile="~/Client.master" AutoEventWireup="true" CodeBehind="ClientHome.aspx.cs" Inherits="ETaxFilling.ClientHome" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
                
                <h2 class="divider top20 bottom10">Introduction</h2>
                <p>
                    Here are just some of the features - 5 Sliders (+ Static content and vimeo video features), 4 homepage variations, 
					500+ Fonts, powerful custom admin panel, unlimited portfolios with support for hierarchical categories, self hosted 
					audio/video and item drag&amp;drop ordering, unlimited sidebars, translation Ready, 17 page templates and much more. With 
					all this functionality this theme gives you the flexibility to create powerful and complex sites from scratch in very short time.
                </p>
                <p class="top10 bottom20">
                    This user guide covers all options that the theme provides. 
                    Please read the documentation carefully before contacting <a href="mailto:levonmanucharian@gmail.com">support </a>as it covers
                    all aspects of the theme. We will do our best to answer you in shortest of time, however please keep in mind it might 
                    take up to 48 hours to get an answer. 
                </p>                
                <div id="requirements">
                    <h2 class="divider top20 bottom10">About Us</h2>
                    <p>The following are minimum requirements for the theme to operate correctly online.</p>
                   
                   <p class="top10">
                    The updates will be published every time a reasonable amount of any bug fixes and improvements is available.
                    Please feel free to contact us if you would like to see any new feature implemented with the upcoming updates. 
                    The more specific features we get the higher are the chances the new feature will be included on next update.
                </p>
                 <h2 class="divider top20 bottom10">Introduction</h2>
                <p>
                    Here are just some of the features - 5 Sliders (+ Static content and vimeo video features), 4 homepage variations, 
					500+ Fonts, powerful custom admin panel, unlimited portfolios with support for hierarchical categories, self hosted 
					audio/video and item drag&amp;drop ordering, unlimited sidebars, translation Ready, 17 page templates and much more. With 
					all this functionality this theme gives you the flexibility to create powerful and complex sites from scratch in very short time.
                </p>
                <p class="top10 bottom20">
                    This user guide covers all options that the theme provides. 
                    Please read the documentation carefully before contacting <a href="mailto:levonmanucharian@gmail.com">support </a>as it covers
                    all aspects of the theme. We will do our best to answer you in shortest of time, however please keep in mind it might 
                    take up to 48 hours to get an answer. 
                </p>                
                <div id="Div1">
                    <h2 class="divider top20 bottom10">About Us</h2>
                    <p>The following are minimum requirements for the theme to operate correctly online.</p>
                   
                   <p class="top10">
                    The updates will be published every time a reasonable amount of any bug fixes and improvements is available.
                    Please feel free to contact us if you would like to see any new feature implemented with the upcoming updates. 
                    The more specific features we get the higher are the chances the new feature will be included on next update.
                </p>
                 <h2 class="divider top20 bottom10">Introduction</h2>
                <p>
                    Here are just some of the features - 5 Sliders (+ Static content and vimeo video features), 4 homepage variations, 
					500+ Fonts, powerful custom admin panel, unlimited portfolios with support for hierarchical categories, self hosted 
					audio/video and item drag&amp;drop ordering, unlimited sidebars, translation Ready, 17 page templates and much more. With 
					all this functionality this theme gives you the flexibility to create powerful and complex sites from scratch in very short time.
                </p>
                <p class="top10 bottom20">
                    This user guide covers all options that the theme provides. 
                    Please read the documentation carefully before contacting <a href="mailto:levonmanucharian@gmail.com">support </a>as it covers
                    all aspects of the theme. We will do our best to answer you in shortest of time, however please keep in mind it might 
                    take up to 48 hours to get an answer. 
                </p>                
                <div id="Div2">
                    <h2 class="divider top20 bottom10">About Us</h2>
                    <p>The following are minimum requirements for the theme to operate correctly online.</p>
                   
                   <p class="top10">
                    The updates will be published every time a reasonable amount of any bug fixes and improvements is available.
                    Please feel free to contact us if you would like to see any new feature implemented with the upcoming updates. 
                    The more specific features we get the higher are the chances the new feature will be included on next update.
                </p>

          </asp:Content >