
<link href="../styles/popup.css" media="screen" rel="stylesheet" type="text/css" />		
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form vendortext">
		<tr>

                  <td class="matchtitle" colspan="2"><h3 class="cmssubtitle">Contact Us (Contact No. XXXXXXXXXX)</h3></td>
                </tr>
		   <tr>
					<td height="20"></td>
			</tr>
		   <tr><td align="center">
		<form method="post" name="frmContactus" id="frmContactus">
		<table align="left" width="94%" border="0" cellpadding="0" cellspacing="0" class="vendortext">
				 			<tr>
			<td align="right"><b><span class="reqField">*</span>Name</b></td>
			<td>:</td>
			<td align="left" >
			<label class="textfield">
			
<input type="text" name="sender_name" id="sender_name" value="" class="rounded wd200" />			</label>
			</td>
			</tr>
			 <tr>
					<td width="35%" height="10" align="left"></td>
					<td align="left" ></td>
				</tr>
			<tr>
			<td align="right"><b><span class="reqField">*</span>Email</b></td>
			<td>:</td>
			<td align="left" >
			<label class="textfield">
			
<input type="text" name="sender_email" id="sender_email" value="" class="rounded wd200" onpaste="return false" oncontextmenu="return false" onkeydown="doSomething(event)" />			</label>

			</td>
			</tr>
			 <tr>
					<td width="35%" height="10" align="left"></td>
					<td align="left" ></td>
				</tr>
			<tr>
			<td align="right"><b><span class="reqField">*</span>subject</b></td>
			<td>:</td>
			<td align="left" >
			<label class="textfield">
			
<input type="text" name="subject" id="subject" value="" class="rounded wd200" />			</label>
			</td>
			</tr>
			 <tr>
					<td width="35%" height="10" align="left"></td>
					<td align="left" ></td>
				</tr>
			<tr>
			<td valign="top" align="right"><b><span class="reqField">*</span>Content</b></td>
			<td valign="top">:</td>
			<td align="left" valign="top" class="textar">
			
			
<textarea name="content" id="content" class="wd210" rows="5" cols="23"></textarea>		
			</td>
			</tr>
			 <tr>
					<td width="35%" height="10" align="left"></td>
					<td align="left" ></td>
				</tr>
			<tr>
			<td></td>
			<td></td>
			<td align="left">
			<label class="green-button-small">
			
<input type="submit" name="send" id="addbutton" value="send" />			</label>
			</td>
			</tr>
			 <tr>
					<td width="35%" height="10" align="left"></td>
					<td align="left" ></td>
				</tr>
		</table>
		</form>
		   </td>
		  </tr>
		</table>
		
	