﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            width: 99%;
            height: 220px;
        }
        .style2
        {
            width: 232px;
            height: 40px;
        }
        .style3
        {
            width: 342px;
            height: 40px;
        }
        #form1
        {
            height: 282px;
        }
        .style4
        {
            height: 40px;
            width: 221px;
        }
        .style6
        {
            width: 158px;
        }
        .style8
        {
            width: 183px;
        }
        .style9
        {
            width: 164px;
        }
        .style10
        {
            width: 196px;
        }
    </style>
</head>
<body style="text-align: left; height: 534px">
    <form id="form1" runat="server">
    <table style="color:red;">
        <tr>
            <td class="style4">
            </td>
            <td class="style2">
                <asp:LinkButton ID="LinkButton2" runat="server" Font-Bold="True">Click Here for Videos</asp:LinkButton>
            </td>
            <td class="style3">
                <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/ReffereFromHome.aspx">Refer A Friend </asp:HyperLink>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="color:red;">
                    <tr>
                        <td class="style6">
                            <asp:Label ID="Label1" runat="server" Text="About Us"></asp:Label>
                        </td>
                        <td class="style9">
                            <asp:Label ID="Label2" runat="server" Text="Contact Us"></asp:Label>
                        </td>
                        <td class="style10">
                            <asp:Label ID="Label3" runat="server" Text="FAQS"></asp:Label>
                        </td>
                        <td class="style8">
                            <asp:Label ID="Label4" runat="server" Text="Links"></asp:Label>
                        </td>
                        <td>
                            <asp:Label ID="Label5" runat="server" Text="Links"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td class="style6">
                            &nbsp;</td>
                        <td class="style9">
                            &nbsp;</td>
                        <td class="style10">
                            &nbsp;</td>
                        <td class="style8">
                            &nbsp;</td>
                        <td>
                            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/UserLogIn.aspx">Client Login</asp:HyperLink>
                        </td>
                    </tr>
                    <tr>
                        <td class="style6">
                            &nbsp;</td>
                        <td class="style9">
                            &nbsp;</td>
                        <td class="style10">
                            &nbsp;</td>
                        <td class="style8">
                            &nbsp;</td>
                        <td>
                            <asp:HyperLink ID="HyperLink2" runat="server" 
                                NavigateUrl="~/ClientRegistration.aspx">New Client Registration</asp:HyperLink>
                        </td>
                    </tr>
                    <tr>
                        <td class="style6">
                            &nbsp;</td>
                        <td class="style9">
                            &nbsp;</td>
                        <td class="style10">
                            &nbsp;</td>
                        <td class="style8">
                            &nbsp;</td>
                        <td>
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
