﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="ETaxFilling.Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="font-weight: 700">
    <form id="form1" runat="server">
    <div align="left"><h3>An Error Has Occured</h3></div> 
    <div align="left"> <small><h4 class="style1"><em>Un expected error occured on our website. The website 
        administartor has been notified.</em></h4></small></div>
        <div><a href="Default.aspx"><h4>Return To Home Page</h4> </a></div>
    </form>
</body>
</html>
