﻿<%@ Page Language="C#"  MasterPageFile="~/Client.Master" AutoEventWireup="true" CodeBehind="Flowchart.aspx.cs" Inherits="ETaxFilling.Flowchart" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<asp:Panel ID="Panel1" runat="server" Height="1033px" style="text-align: center">
            &nbsp;<br /> &nbsp;
            <asp:Image ID="Image1" runat="server" Height="908px" 
                ImageUrl="../B_Images/FlowChartE-file.jpg" Width="587px" />
        </asp:Panel>
</asp:Content>