﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ConsentForm.aspx.cs"  MasterPageFile="~/Administrator/Admin.Master" Inherits="ETaxFilling.ConsentForm" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <head>
   
<div>
    <table style="color:red;" style="height: 244px; width: 555px">
        <tr>
            <td class="style6">
                Description1</td>
            <td class="style5">
                <asp:TextBox ID="txtDesc1" runat="server" TextMode="MultiLine" Height="93px" 
                    Width="388px"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style6">
                Description2</td>
            <td class="style5">
                <asp:TextBox ID="txtDesc2" runat="server" TextMode="MultiLine" height="97px" 
                    width="392px"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style6">
                Description3</td>
            <td class="style5">
                <asp:TextBox ID="txtDesc3" runat="server" TextMode="MultiLine" height="97px" 
                    width="392px"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style6">
                Description4</td>
            <td class="style5">
                <asp:TextBox ID="txtDesc4" runat="server" TextMode="MultiLine" height="97px" 
                    width="392px"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    <br />
                <asp:Button ID="btnSave1" runat="server" Text="Save" 
        onclick="btnSave1_Click" Width="80px" />
                <br />
                <br />
                <asp:Label ID="lblDesc" runat="server"></asp:Label>
 
 </div>
 </asp:content>

