﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/Administrator/Admin.Master"  CodeBehind="RelatonshipType.aspx.cs" Inherits="ETaxFilling.RelatonshipType1" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div>    
<div id="divReTerr" style="color:#FF0000" runat="server"></div>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                RelationShipType</td>
                            <td>
                                <asp:TextBox ID="txtRelation" runat="server" CssClass="ValidationRequired" 
                                    Height="20px" Width="124px" MaxLength="100"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <asp:Button ID="btnSaveRelation" runat="server" Text="Save" 
                                    onclick="btnSaveRelation_Click1" Width="80px" />
                            </td>

                        </tr>
                    </table>
                      <br />
                    <asp:Label ID="lblMsg" runat="server" ForeColor="#006600"></asp:Label>
                    <asp:GridView ID="GrdwRelationship" runat="server" AlternatingRowStyle-CssClass="alt"
AutoGenerateColumns="False" 
        PagerStyle-CssClass="pgr" Width="295px" 
            onrowcommand="GrdwRelationship_RowCommand" HorizontalAlign="Center" AllowPaging="True" 
                        CssClass="mGrid">
           
<AlternatingRowStyle CssClass="alt"></AlternatingRowStyle>
<Columns>

<asp:TemplateField HeaderText="SNo">
<ItemTemplate><%#Container.DataItemIndex+1 %><br />
</ItemTemplate>
</asp:TemplateField>
    
    <asp:BoundField DataField ="RelationShipID"   Visible="false"/>      
<asp:BoundField DataField="RelationShip" HeaderText="RelationShip"   />

<asp:TemplateField>
                <ItemTemplate>
    <asp:LinkButton ID="lnkbtnEdit" runat="server" Text="Edit" CommandArgument='<%# DataBinder.Eval(Container,"DataItem.RelationShipID") %>'
                        CommandName="EditRel" ></asp:LinkButton>
                       
                </ItemTemplate>
            </asp:TemplateField>        
               
</Columns>

<PagerStyle CssClass="pgr"></PagerStyle>
            </asp:GridView>
                    
                </td>
                <td>
                                        
                </td>
            </tr>
        </table>
           
               <br />
        </div>
</asp:Content>